
.adminPage {
    display: flex;
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
  }

  .eventsPageAdmin {
    width: 75%; 
    padding: 20px; 
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden; 
  }
  .rejectBtn
  .approveBtn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
  }
  

  
  